@import "tailwindcss";

:root {

    --background: linear-gradient(to bottom right, #193cb8, #016630);

    --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
      --background: linear-gradient(to bottom right, #193cb8, #016630);
      --foreground: #171717;
  }
}
html {
    background: var(--background);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overscroll-behavior: none;

}
body {
  background: transparent;
  color: var(--foreground);
  font-family: "Century Gothic", Helvetica, sans-serif;
}